<script>
  Maptastic.dataHash['HC03_VC04'] = [];
  <% Database.get_data('HC03_VC04').each_with_index do |v, i| %>
  Maptastic.dataHash['HC03_VC04'].push([<%="#{v['lat'].to_s}"%>, <%="#{v['lon'].to_s}"%>, <%="#{v['weight'].to_s}"%>]);
  <% end %>
</script>

<div class="search">
  <input type="text" placeholder="Search..." class="search-input">
  <input type="button" class="search-button" value="Search">
</div>

<div id="map-container"></div>
